gen/
libnccl.so
model_best.t7
checkpoints

# for pytorch gitignore

gen/
checkpoints/
*.pyc
*.swp

## from get_alreadytrained.sh
twostream_rgb.pth.tar
twostream_flow.pth
vgg16flow_ucf101.pth
resnet_rgb.pth.tar
inception_rgb.pth.tar

Charades_v1_test.csv
Charades_v1_train.csv

flownet/

rgbnet/
